<h1>Reviews</h1>

<a href="/reviews/new">New Review</a>
<hr>
{{#each reviews}}
  <h2><a href="/reviews/{{this._id}}">{{this.title}}</a></h2>

  <h3>{{this.movieTitle}}</h3>
  <p>{{this.description}}
  <p>Rating: {{this.rating}}/5 </p>
    <hr>
{{/each}}
