<h1 align="center">Rotten Potatoes Reviews</h1>
<h4 align="center">Where Everyone's A Movie Critic</h4>
<hr>
<div class="reviewcon">

  {{#each reviews}}
        <div class="wow reviewbox animated fadeIn">
          <h2><a href="/reviews/{{this._id}}">{{this.title}}</a></h2>

          <h3>Movie: {{this.movieTitle}}</h3>
          <p>{{this.description}}
          <p>Rating: {{this.rating}}/5 </p>
        </div>
  {{/each}}
</div>
</div>
